 .button {
    background-color: white;
    width: 60px;
    height: 120px;
    border-radius: 30px;
    border: 2px solid rgb(245, 149, 164);
    position: relative;
    left: 310px;
    font-family: 'DynaPuff', cursive;
    font-family: 'Signika Negative', sans-serif;  
    font-weight: 300;
    color: rgb(245, 149, 164);
    font-size: 16px;
} 

.back-to-top-button{
    position: relative;
    right: 16px;
    transform: rotate(-90deg);
    background-color: white;
    border: white;
    margin-top: 39px;
    font-family: 'DynaPuff', cursive;
    font-family: 'Signika Negative', sans-serif;  
    font-weight: 300;
    color: rgb(249, 110, 131);
    width: 90px;
    height: 40px;
    font-size: 15px;
}



  