@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
/*font-family: 'Work Sans', sans-serif;*/

/* .back-cart-c{
    background-color: #fcf1f2;
} */
.cart-first{
    display: flex;
    margin-left: 500px;
    margin-top: 28px;
}

.cart-img-1{
    width: 38px;
    height: auto;
}
.span-cart{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 5px;
}

.p-username{
    margin-top: 20px;
    margin-left: 470px;
    font-family: 'Work Sans', sans-serif;
    
}
.p-username2{
    margin-left: 350px;
    font-family: 'Work Sans', sans-serif;
}
.devider-cart{
    border: 1px solid rgb(245, 149, 164);
    width: 1060px;
    position: relative;
    bottom:13px;
   
}


/*Cart-p*/

.cart-second{
    display: flex;
    margin-top:5px;
}

.cart-img-2{
    width: 150px;
    margin-left: 65px;
}

.p-cart-1{
    color: rgb(138, 137, 137);
    font-family: 'Work Sans', sans-serif;
    margin-top: 40px;
    margin-left: 100px;
    line-height: 23px;
    font-size: 18px;
    width:200px;
}
.p-c{
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
}

.p-cart-2{
    color: rgb(138, 137, 137);
    font-family: 'Work Sans', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.p-c-p{
    margin-top: 10px;
    color: #e35d6a;
    font-weight: 600;
}

.p-cart-3{
    color: rgb(138, 137, 137);
    font-family: 'Work Sans', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
}

.p-c-q {
    margin-top: 10px;
    color: #e35d6a;
    font-weight: 600;
}

.p-cart-4{
    color: rgb(138, 137, 137);
    font-family: 'Work Sans', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
}

.p-cart-7{
    color: rgb(138, 137, 137);
    font-family: 'Work Sans', sans-serif;
    line-height: 23px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    left: 670px;
    bottom: 60px;
}

/*Button*/

.p-cart-5{
    width: 100px;
    height: 40px;
    background-color: #cfeb35;
    position: relative;
    top:60px;
    left: 100px;
    border-radius: 5px;
    margin-top: 5px;
}


.p-cart-5 .logout-a-u{
    text-decoration: none;
    text-decoration-color: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding-left: 15px;
    position: relative;
    top: 10px;
}

.p-cart-6{
    width: 100px;
    height: 40px;
    background-color: #c42636;
    position: relative;
    top:15px;
    border-radius: 5px;
    border:2px;
}

.logout-a-r{
    width: 20px;
    background-color: #c42636;
    border: #c42636;
    text-decoration: none;
    text-decoration-color: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding-left: 18px;
    position: relative;
    top: 8px;
    font-size: 15px;
    cursor: pointer;
}

.img-pet-cart{
    width: 150px;
    height: 160px;
    position: relative;
    left: 510px;
    top: 30px;
}

.no-product{
    font-size: 30px;
    position: relative;
    left: 400px;
    top: 30px;
}

.no-product-p{
    font-size: 15px;
    position: relative;
    left: 350px;
    top: 40px;
}

.checkout-d {
    width: 290px;
    height: 120px;
    position: relative;
    top: 30px;
    left: 790px;
    padding: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); /* Grey box shadow instead of border */
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-p {
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.total-p-text {
    color: #c42636;
}

.t-price {
    color: #c42636;
    margin-right: 10px;
    font-weight: 600;
}

.checkout-btn {
    background-color: #c42636;
    color: #fff;
    padding: 10px 12px; /* Slightly narrower button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:150px;
    margin-left:43px;
    margin-bottom: 5px;
}


/* Style the button on hover */
.checkout-btn:hover {
    background-color: #5b0b15;
}
